<h1><%= @painter.name %></h1>
<ul>

<% @painter.reviews.each do |review|  %>
  <li> <% review.rating.times do %>
     ⭐️
    <%end  %> <br>



     <%= review.content %></li>

  <%end  %>
</ul>

<%= button_to "Find a new project", rooms_path, :method => 'get' %>
