<body id="myrooms">

<div class="three ui buttons">
  <button class="ui button"><%= link_to 'RETURN TO MY PAGE', user_path(session[:user_id]), :method => 'get', class: 'css_class', style: 'color:#e22424' %></button>
  <button class="ui button"><%= link_to 'ADD A ROOM', new_room_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></button>
  <button class="ui button"><%= link_to "LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424'%></button>
</div>

<h1>my rooms</h1>
<% if @my_rooms != [] %>
<ul>
  <% @my_rooms.each do |room| %>
  <div id="projectcard">
    <%= link_to "#{room.area} sqft - $#{room.price} - #{room.assigned? ? "Painted" : "Not Painted Yet"}", room %>
  </div>
    <%# img attribute %>
  <% end %>
</ul>

<%else  %>
<h4>you do not have any rooms yet</h4>

<%end  %>

</body>
