<h1>WELCOME TO LOCAL BRUSH</h1>
<h2>FIND YOUR LOCAL BRUSH HERE</h2>
<%= button_to('PAINTER', painter_login_path, :method => :get) %>
<%= button_to('PAINTEE', user_login_path, :method => :get) %>
<p>
NOTES FOR TOMORROW
1. Give user ability to see all reviews they have written
2. Show number of reviews for each painter
3. Create logout button (visible on every page)
4. Give painter ability to see all their jobs
</p>
