<body>
<div class="ui two top attached buttons">
    <div class="ui button"><%= link_to('ARE YOU A PAINTER?', painter_login_path, :method => :get) %></div>
    <div class="ui button"><%= link_to('DO YOU NEED A ROOM PAINTED?', user_login_path, :method => :get) %></div>
</div>
<!-- <div class="ui attached segment">
</div> -->
<h1>WELCOME TO LOCAL BRUSH</h1>
</body>
