<body id="homepage">
  <div class="ui two top attached buttons">
      <div class="ui button"><%= link_to('ARE YOU A PAINTER?', painter_login_path, :method => :get, class: 'css_class', style: 'color:#e22424')%></div>
      <div class="ui button"><%= link_to('DO YOU NEED A ROOM PAINTED?', user_login_path, :method => :get, class: 'css_class', style: 'color:#e22424') %></div>
  </div>
  <!-- <img src="https://i2.wp.com/www.graffitistreet.com/wp-content/uploads/2017/07/Sonny-street-art-mural-tiger-soho-new-york-city-project-cat-the-lisa-project-2017-photo-credit-just_a_spectator-23.jpeg?zoom=2.625&w=899&h=1195&crop&ssl=1" alt="Background Image"> -->
  <!-- <div class="ui attached segment">
  </div> -->
  <h1>WELCOME TO LOCAL BRUSH</h1>

  <section class= "wrapper">
  </section>

  <section class= "content">
    <p>Local Brush is ...</p>
  </section>
  <footer class="ui two bottom attached buttons">
    <div class="ui button"><%= link_to('ARE YOU A PAINTER?', painter_login_path, :method => :get, class: 'css_class', style: 'color:#e22424')%></div>
    <div class="ui button"><%= link_to('DO YOU NEED A ROOM PAINTED?', user_login_path, :method => :get, class: 'css_class', style: 'color:#e22424') %></div>
  </footer>
</body>
