/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
     <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
     /* <link rel="stylesheet" type="text/css" href="./home.css"> */
   /* </head> */
 /* </html> */
 .ui.submit.button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 50px 10px 50px;
   font-family: 'Roboto Condensed', sans-serif;
   margin: auto;
   color: #e22424;
 }

 #projectcard {
   background-color: lightgrey;
   opacity: 0.8;
   margin-right: 75%;
   border-radius: 3px;
   text-align: center;
   margin-bottom: 15px;
   margin-left: 10px;
   padding: 20px 5px 20px 5px;
 }
