// Place all the styles related to the Painters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {
  background-color: black;
  opacity: 0.8;
  padding: 10px;
}


#text {
  color: white;
}

#newpainter {
  background-image: url("https://lh3.googleusercontent.com/RbLIrAIv1xMqiue88J2A3zr8C7nrYLvkHV5UrhKfCb_8h47pZxiuJn97XR9wAc7ogl3CxWAtOA=w640-h400-e365");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 275px;
  background-size: contain;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.name.banner {
  background: black;
  // padding-top: .5px;
  // padding-bottom: .5px;
  opacity: 0.8;
}

#paintername {
  color: white;
  padding: .5px;
}

#contenttext {
  font-size: 20px;
  word-wrap: normal;
}

#painterreviewcard {
  margin: auto;
  width: auto;
  padding: 10px;
}
