// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newroom {
  background-image: url("https://lh3.googleusercontent.com/RbLIrAIv1xMqiue88J2A3zr8C7nrYLvkHV5UrhKfCb_8h47pZxiuJn97XR9wAc7ogl3CxWAtOA=w640-h400-e365");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 275px;
  background-size: contain;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

#roomshow {
  background-image: url("https://lh3.googleusercontent.com/RbLIrAIv1xMqiue88J2A3zr8C7nrYLvkHV5UrhKfCb_8h47pZxiuJn97XR9wAc7ogl3CxWAtOA=w640-h400-e365");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 275px;
  background-size: contain;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

#allrooms {
  background-image: url("https://lh3.googleusercontent.com/RbLIrAIv1xMqiue88J2A3zr8C7nrYLvkHV5UrhKfCb_8h47pZxiuJn97XR9wAc7ogl3CxWAtOA=w640-h400-e365");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 275px;
  background-size: contain;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

#container {
  background-color: white;
  opacity: 0.8;
  margin-right: 75%;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 10px;
}
